<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <ul>
        <li class="dropdown"><a href="#"><i class="fas fa-qrcode"></i>Products</a>
            <ul>
                <li><a href="{% url 'products' %}">All Products</a></li>
                <li><a href="">Categories</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="far fa-user"></i>Account</a></li>
        <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
    </ul>
</div>