{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="categories">
    <h2 class="titulo">Products Categories</h2>
    <div class="small-container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Protein</h5>
                    <img src="/media/100-casein-gold-standard-optimum-nutrition_1.jpg" alt="" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Home Gym</h5>
                    <img src="/media/2009-A-01_Thor-Fitness_Airbike_maj20_01.jpg" alt="Homegym" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Clothes for her</h5>
                    <img src="/media/69001R_NEBBIA_Deep-Neck-Crop-Top-Black-001_0420.jpg" alt="Her" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Clothes for him</h5>
                    <img src="/media/220894999R_GASP_Logo-Hoodie-Black-01_okt20.jpg" alt="Him" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Powerdrinks</h5>
                    <img src="/media/SA001375_NOCCO_BCAA-330ml.jpg" alt="Powerdrinks" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Powerbars</h5>
                    <img src="/media/SETGOODLIFEPACK_Goodlife-chocolate-Hazelnut-cream-Box.jpg" alt="Powerbars"
                        class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Yoga</h5>
                    <img src="/media/62432_gaiam_6mm_yoga_mat_sundial_layers_2.jpg" alt="Yoga" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Personal Equipment</h5>
                    <img src="/media/230110-999-lr_1.jpg" alt="Personal" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Finished package</h5>
                    <img src="/media/SETBASPAKETH.jpg" alt="Pack" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Water Bottles</h5>
                    <img src="/media/500620_blenderbottle_radian_insulated_stainless_steel_770ml_natural_black_1.jpg"
                        alt="" class="imagen">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}