{% extends "base.html" %}
{% load static %}

{% block page_header %}
<main>
    <div class="album py-5 bg-black">
        <div class="container">
            <div class="titulo h2">All Products</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                <div class="col">
                    <div class="card-1 shadow-sm">
                        <img class="img-fluid" alt="No image found" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="mb-0">{{product.name}}</p>
                            <hr>

                            <button data-product="{{product.id}}" data-action="add"
                                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

                            <a class="btn btn-outline-success" href="{% url 'product-detail' pk=product.pk  %}">View</a>
                            <h4 style="display: inline-block"><strong>${{product.price}}</strong></h4>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}