{% extends "base.html" %}
{% load static %}

{% block page_header %}
<main>
    <div class="album py-5 bg-black">
        <div class="container">
            <div class="titulo h2">All Products</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                <div class="col">
                    <div class="card-1 shadow-sm">
                        <img class="img-fluid" alt="No image found" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="mb-0">{{product.name}}</p>
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}